@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700|Rubik:300,400,500,700,900&display=swap')
$font-stack: "Rubik", Arial, sans-serif
$font-stack-two: "Open Sans", Arial, sans-serif

$white: #ffffff
$black: #000000

$primary: #1c1e24
$secondary: #9ea3b4
$highlight: #517AF4

h1, h2, h3
    color: $primary