
<form action="https://formspree.io/mwkpvbvy" method="POST">
    <div class="contact-form">
        <div class="input-fields">
            <input type="text" class="input" name="name" placeholder="Name">
            <input type="email" name="email" class="input" placeholder="Email Address">
            <input type="text" name="subject" class="input" placeholder="Subject">
        </div>

        <div class="msg">
            <textarea placeholder="Message"></textarea>
            <input class="btn" type="submit" value="Send">
        </div>
    </div>
</form>